body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #339271;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 400px; /* Adjust max width for larger screens */
    text-align: center;
}

button {
    background-color: #39bea8;
    border: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    width: 100%; /* Make buttons full-width on small screens */
}

button:hover {
    background-color: #0f5f59;
}

input[type="password"],
input[type="number"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(100% - 20px); /* Adjust width for better alignment */
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    button {
        padding: 12px;
        font-size: 16px; /* Increase button text size for better touch interaction */
    }

    input[type="password"],
    input[type="number"] {
        font-size: 16px; /* Increase font size for better readability on small screens */
    }
}
#login-screen{
    color: #fff;
}
h1{
    color: #fff;
}
h2{
    color: #fff;
}